body{
    background-color: #f2f4f6;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#conteneur{
    background-color: #f2f4f6;
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
    position: relative;

}

#wrapper{
    background-color: transparent;
    width: 80%;
    height: 70%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#Produit{
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
}
#photo{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-align: center;

}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#img{
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow:  0px 0px 20px rgba(34, 33, 33, 0.623) ;
    vertical-align: middle;
    padding: 10px;
    margin-left: -2%;
    background-color: pink;

}

#info{
    background-color: rgba(33, 43, 71, 0.8);
    box-shadow:  0px 0px 20px rgba(34, 33, 33, 0.623) ;
    border-radius: 25px;


    width: 100%;
    height: 100%;
    margin: 0;
}

#test{
    margin: auto;
    margin-top:1%;
    height: 97%;
    background-color: transparent;
}

#descript{
    box-shadow:  0px 0px 20px rgba(34, 33, 33, 0.623) ;
    border-radius: 20px;
    width: 100%;
    height: 85%;
    margin:0
}
#madesc{
    background-color:yellow;height:10%;text-align:center;margin-top:5%
}

#text{
    background-color:green;
    height:30%;
    margin-top:5%;
    padding-right: 5px;
    border-radius: 20px;
    overflow: hidden;

}
/* .badge{
height: 30px;
width: 20%;
font-size: large;
margin: auto;
margin-top: -10%;
} */

.logo{
    position: absolute;
    right: 10px;
}




.tabModal{
    position: relative;
    border-collapse: collapse;
    border-spacing: 5px 10px;
}
.description{
    line-height: 6em;
}
.boutons{
    background-color: green;
    margin-left: 40%;
}
#boutons{
    background-color: transparent;
    width: 100%;
    height: 37px;
}
.input-group-text{
    display: flex;
    background-color: white;
    border-color: white;
}
.€{
    width: 50px;
}
td{
    border-color: black;
}
#pied{
    background-color: #252c41;
}
.badge{
    background-color: #f1959b;
    color: white;
}
.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#lien {
    color: whitesmoke;
}
#lien:visited {
    color: white;
}
#lien:hover, #lien:focus, #lien:active {
    text-decoration: none;
    color: black;
    background: whitesmoke;
}
#lien.active {
    color: black;
    background-color: whitesmoke;
}

