html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.vertical-menu {
    width: 100%; /* Set a width if you like */
    height: 100vh;
    background-color: whitesmoke;
    border-right: 1px solid grey;

}

.vertical-menu a {
    background-color: whitesmoke; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear whlow each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: rgba(210,78,78,0.45); /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #D24E4E; /* Add a green color to the "active/current" link */
    color: white;
}
.Wrapper-VM{
    width : 200px;
    background-color : whitesmoke;
    height:100vh;
    margin-top:60px;
    position:fixed;
    text-align: center;
}
.logo{
    position: absolute;
    right: 10px;
}
.Categorie{
    margin-top:15%;
}
.Categorie a:hover{
    background-color: rgba(210,78,78,0.45);
}
.Achat{
    margin-top: 10%;

}

.listItems{
    background-color: white;
    width: 99%;
    height: 100%;
    padding-top: 60px;
    padding-left: 200px;
}

.col-sm-4{
    height:350px;
}

.titleItem{
    background-color : transparent; 
    text-align:center
}

.divImgTit{
    background-color : rgba(255, 255, 255, 0.603); 
    height : 200px; 
    text-align : center;
    border-radius: 5px;

}

.imgItem{
    background-color : red; 
    max-width: 100%;
    max-height: 100%;
}

.conta{
    background-color: rgba(255, 255, 255, 0.507);
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0px 0px 20px rgba(34, 33, 33, 0.623) ;

}
.descrItem{
    width: 40%;
    margin: auto;
    margin-top: 1%;
}

.badge{
    height: 30px;
    width: 30%;
    margin-left: 35%;
    margin-top: 1%;
    font-size: large;
}

#hidden_div {
    display: none;
}