html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.btn-top{
    width: 100%;
}
.text{
    text-align: center;
    margin-top: 20%;
}
#admin{
    background: linear-gradient(270deg, #fcebec, #efefef, #dee3ff);
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.vertical-menu {
    width: 100%; /* Set a width if you like */
    height: 100vh;
    background-color: rgba(37,44,65,0.8);
    border-right: 1px solid #f1959b;
}

.vertical-menu a {
    background-color:  rgba(241,149,155,0.8); /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear whlow each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color:  rgba(241,149,155,0.9); /* Dark grey background on mouse-over */
}

.Wrapper-VM{
    width : 200px;
    background-color : rgba(37,44,65,0.3);
    height:100vh;
    margin-top:55px;
    position:fixed;
    text-align: center;
}
.logo{
    position: absolute;
    right: 10px;
}
.Categorie{
    margin-top:15%;
}
.Categorie a:hover{
    background-color: rgba(210,78,78,0.45);
}
.Achat{
    margin-top: 10%;

}

.listItems{
    background-color: white;
    width: 99%;
    height: 100%;
    padding-top: 60px;
    padding-left: 200px;
}

.col-sm-4{
    height:350px;
}

.titleItem{
    background-color : transparent; 
    text-align:center
}

.divImgTit{
    background-color : rgba(255, 255, 255, 0.603); 
    height : 200px; 
    text-align : center;
    border-radius: 5px;

}

.imgItem{
    background-color : red; 
    max-width: 100%;
    max-height: 100%;
}

.conta{
    background-color: rgba(255, 255, 255, 0.507);
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0px 0px 20px rgba(34, 33, 33, 0.623) ;

}
.descrItem{
    width: 40%;
    margin: auto;
    margin-top: 1%;
}

.badge{
    height: 30px;
    width: 30%;
    margin-left: 35%;
    margin-top: 1%;
    font-size: large;
}

#hidden_div {
    display: none;
}
#pied{
    background-color: #252c41;
}
#lien{
    color: whitesmoke;
}
#lien:visited {
    color: white;
}
#lien:hover, #lien:focus, #lien:active {
    text-decoration: none;
    color: black;
    background: whitesmoke;
}
#lien.active {
    color: black;
    background-color: whitesmoke;
}