html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.btn-top{
    width: 100%;
}
.vertical-menu {
    width: 100%; /* Set a width if you like */
    height: 100vh;
    background-color: rgba(37,44,65,0.7);
    border-right: 1px solid #f1959b;

}

.vertical-menu a {
    background-color:  rgba(241,149,155,0.8);; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear whlow each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color:  rgba(241,149,155,0.9); /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color:  rgba(241,149,155,0.45); /* Add a green color to the "active/current" link */
    color: white;
}
.Wrapper-VM{
    width : 200px;
    background-color : rgba(37,44,65,0.3);
    height:100vh;
    margin-top:60px;
    position:fixed;
    text-align: center;
}
.logo{
    position: absolute;
    right: 10px;
}
.Categorie{
    margin-top:15%;
}
.Categorie a:hover{
    background-color: rgba(210,78,78,0.45);
}
.Achat{
    margin-top: 10%;

}

.listItems{
    background-color: white;
    width: 99%;
    height: 100%;
    padding-top: 60px;
    padding-left: 200px;
}

#cont{
    height:350px;

}


#cont:hover{
    text-decoration:none;
    transform: scale(1.05);
    
}
#cont { transition: all .2s ease-in-out; }

.linkItem:hover{
    text-decoration:none;
}

.titleItem{
    color :  rgb(40, 52, 87);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align:center;
    text-shadow: 1px 3px 18px rgba(107,112,136,0.83);
}

.divImgTit{
    background-color : white; 
    height : 200px; 
    text-align : center;
    border-radius: 5px;

}

.imgItem{
    max-width: 100%;
    max-height: 100%;
}

.conta{
    background-color: rgba(255, 255, 255, 0.507);
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow:  0px 0px 20px rgba(34, 33, 33, 0.623) ;
}
.descrItem{
    width: 40%;
    margin: auto;
    margin-top: 1%;
}

.prixItem{
    text-align:center;
    background-color:green;
}


#hidden_div {
    display: none;
}
#pied{
    background-color: #252c41;
}
#lien{
    color: whitesmoke;
}
#lien:visited {
    color: white;
}
#lien:hover, #lien:focus, #lien:active {
    text-decoration: none;
    color: black;
    background: whitesmoke;
}
#lien.active {
    color: black;
    background-color: whitesmoke;
}
